<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoctorApp.Properties.Settings.Course_backupConnectionString"
            connectionString="Data Source=&quot;localhost, 1433&quot;;Initial Catalog=Course_backup;Persist Security Info=True;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="DoctorApp.Properties.Settings.Course_backupConnectionString1"
            connectionString="Data Source=localhost,1433;Initial Catalog=Course_backup;Persist Security Info=True;User ID=SA;Password=Asdfghj1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>